In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
dataset=pd.read_csv("insurance_pre.csv")
dataset
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [13]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [14]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:403: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warn(

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [18]:
re=grid.cv_results_

grid_predictions = grid.predict(x_test)

from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score valu for best parameter {}:".format(grid.best_params_),r_score)

The R_score valu for best parameter {'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}: 0.8716880668711974

In [19]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.078255,0.001327,0.008807,0.002228,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.851966,0.759415,0.816948,0.784157,0.752059,0.792909,0.037236,9
1,0.758951,0.033211,0.048836,0.008040,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.862024,0.767467,0.816087,0.796944,0.768092,0.802123,0.035126,6
2,0.064156,0.002593,0.007405,0.000800,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.845734,0.764979,0.775805,0.793255,0.756200,0.787194,0.031773,11
3,0.675077,0.019351,0.037427,0.002060,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.863993,0.788027,0.807865,0.824880,0.769416,0.810836,0.032458,3
4,0.064645,0.003202,0.007405,0.000490,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.834192,0.799887,0.783892,0.795800,0.766237,0.796001,0.022388,8
5,0.614436,0.023580,0.034224,0.001167,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.863835,0.783375,0.807930,0.827380,0.768232,0.810150,0.033639,4
6,0.327832,0.049398,0.010610,0.005720,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.843997,0.752775,0.779402,0.783007,0.754301,0.782696,0.033077,12
7,3.090012,0.096557,0.036625,0.008339,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.846938,0.777977,0.800830,0.795735,0.765984,0.797493,0.027686,7
8,0.205746,0.018631,0.009207,0.002137,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.861421,0.779504,0.806240,0.783221,0.782904,0.802658,0.030887,5
9,1.829509,0.034815,0.036426,0.007007,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.862298,0.792089,0.815401,0.822667,0.771345,0.812760,0.030665,2
10,0.195349,0.017810,0.007307,0.000600,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.847019,0.763702,0.793591,0.797376,0.747236,0.789785,0.034172,10
11,1.783066,0.173680,0.034357,0.013366,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.858191,0.803079,0.809441,0.820461,0.775693,0.813373,0.026833,1

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:55
BMI35
children:2
sex Male 0 or 1:1
smoker yes 0 or 1:1

In [21]:
Future_prediction=grid.predict([[age_input,age_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[46160.6605436]