In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
dataset=pd.read_csv("insurance_pre.csv")
dataset
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [21]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [22]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [23]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {'criterion':['mse','mae'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [24]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score valu for best parameter {}:".format(grid.best_params_),r_score)

The R_score valu for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}: 0.9765900938939605

In [25]:
import pickle
filename="finalized_model_RFG.sav"
pickle.dump(grid ,open(filename,"wb"))

In [26]:
loaded_model=pickle.load(open("finalized_model_RFG.sav","rb"))
result=loaded_model.predict([[19,27.900,0,16000,0,]])
result

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([2040.2848324])

In [27]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.094267,0.002041,0.012609,0.001498,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.836620,0.756702,0.850547,0.814313,0.827083,0.817053,0.032419,8
1,0.834499,0.018996,0.043231,0.003189,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.849069,0.771188,0.851710,0.815672,0.832940,0.824116,0.029443,5
2,0.074452,0.002942,0.012209,0.002928,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.836097,0.757768,0.847289,0.804299,0.831891,0.815469,0.032131,10
3,0.660590,0.011555,0.043831,0.001834,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.858111,0.778923,0.857261,0.828002,0.840398,0.832539,0.029059,1
4,0.072851,0.003658,0.011609,0.001357,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.842355,0.767847,0.845569,0.807167,0.821157,0.816819,0.028245,9
5,0.669475,0.005766,0.042431,0.002730,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.859383,0.774792,0.858026,0.827199,0.836899,0.831260,0.030804,4
6,0.455122,0.017973,0.011409,0.001357,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.816471,0.757016,0.851291,0.809532,0.828786,0.812619,0.031219,12
7,4.438876,0.071890,0.037026,0.000894,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.841396,0.767536,0.848176,0.822587,0.836057,0.823150,0.029048,6
8,0.268104,0.007531,0.011008,0.002002,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.839745,0.776708,0.844956,0.808381,0.828689,0.819696,0.024887,7
9,2.547018,0.042135,0.038228,0.002317,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.851798,0.777138,0.857916,0.827038,0.844342,0.831647,0.029154,3
10,0.263391,0.006711,0.010107,0.000491,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.832805,0.761063,0.845730,0.799893,0.832231,0.814344,0.030638,11
11,2.375505,0.225303,0.032423,0.008169,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.857473,0.774437,0.858517,0.827440,0.841339,0.831841,0.030898,2

In [28]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:55
BMI25
children:2
sex Male 0 or 1:0
smoker yes 0 or 1:0

In [29]:
Future_prediction=grid.predict([[age_input,age_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[13137.7683934]

E:\Users\bashithrafik\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(