In [70]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [71]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [72]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [73]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [74]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [75]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [76]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [77]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [78]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {"kernel":["rfb","poly","sigmoid","linear"],
             "C":[10,100,1000,2000,3000],"gamma":["auto","scale"]}

grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3,n_jobs=-1)
#fitting the model for grid search
grid.fit(x_train, y_train)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
50 fits failed out of a total of 200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
50 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\svm\_base.py", line 255, in fit
    fit(X, y, sample_weight, solver_type, kernel, random_seed=seed)
  File "C:\Users\Admin\anaconda3\lib\site-packages\sklearn\svm\_base.py", line 315, in _dense_fit
    ) = libsvm.fit(
  File "sklearn\svm\_libsvm.pyx", line 173, in sklearn.svm._libsvm.fit
ValueError: 'rfb' is not in list

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [            nan  1.10690971e-03 -1.65700582e-03  3.67568780e-01
             nan  1.18783088e-03 -1.63503920e-03  3.67568780e-01
             nan  5.10180653e-01  4.70104813e-01  5.83498250e-01
             nan  5.10154800e-01  4.70546023e-01  5.83498250e-01
             nan  7.93554645e-01  3.05470720e-01  5.94383090e-01
             nan  7.93265039e-01  3.29645399e-01  5.94383090e-01
             nan  8.05576005e-01 -4.45127213e-01  6.20052606e-01
             nan  8.05582155e-01 -3.97237956e-01  6.20052606e-01
             nan  8.06718342e-01 -1.58818786e+00  6.24749557e-01
             nan  8.06742983e-01 -1.79902498e+00  6.24749557e-01]
  warnings.warn(
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rfb', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [79]:
# print best parameter after tuning
# print(grid.best_params)
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(x_test)
#print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score valu for best parameter {}:".format(grid.best_params_),r_score)

The R_score valu for best parameter {'C': 3000, 'gamma': 'scale', 'kernel': 'poly'}: 0.8598930084494356

In [80]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001774,0.000390,0.000000,0.000000e+00,10,auto,rfb,"{'C': 10, 'gamma': 'auto', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,40
1,0.043242,0.006748,0.007580,4.889087e-04,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",0.056274,0.069532,-0.045601,-0.025079,-0.049592,0.001107,0.051309,24
2,0.048448,0.009020,0.003124,6.248283e-03,10,auto,sigmoid,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.049905,0.075905,-0.046585,-0.041004,-0.046507,-0.001657,0.053391,26
3,0.029401,0.002355,0.009372,7.652592e-03,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",0.377969,0.479601,0.317872,0.337979,0.324422,0.367569,0.059777,19
4,0.006261,0.007669,0.000000,0.000000e+00,10,scale,rfb,"{'C': 10, 'gamma': 'scale', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,39
5,0.034366,0.006249,0.009373,7.653371e-03,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",0.054964,0.071297,-0.046513,-0.024157,-0.049652,0.001188,0.051594,23
6,0.052685,0.008797,0.010905,5.751493e-03,10,scale,sigmoid,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.049644,0.076323,-0.046798,-0.040824,-0.046521,-0.001635,0.053474,25
7,0.041007,0.008034,0.007579,5.007049e-03,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",0.377969,0.479601,0.317872,0.337979,0.324422,0.367569,0.059777,19
8,0.000000,0.000000,0.000000,0.000000e+00,100,auto,rfb,"{'C': 100, 'gamma': 'auto', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,36
9,0.041702,0.007148,0.011456,3.427328e-03,100,auto,poly,"{'C': 100, 'gamma': 'auto', 'kernel': 'poly'}",0.540643,0.575051,0.474839,0.535730,0.424640,0.510181,0.053582,15
10,0.049416,0.006629,0.011065,5.836814e-03,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.478364,0.561673,0.428331,0.450454,0.431701,0.470105,0.049110,18
11,0.048051,0.006063,0.004520,6.173825e-03,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.584474,0.655818,0.553380,0.576939,0.546881,0.583498,0.038787,13
12,0.000997,0.000001,0.000000,0.000000e+00,100,scale,rfb,"{'C': 100, 'gamma': 'scale', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
13,0.030562,0.001261,0.015621,2.611745e-07,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",0.537117,0.579373,0.471840,0.537966,0.424478,0.510155,0.054955,16
14,0.047386,0.004980,0.013212,3.258087e-03,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.478930,0.563200,0.427152,0.451250,0.432199,0.470546,0.049762,17
15,0.038736,0.005385,0.011283,6.112107e-03,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.584474,0.655818,0.553380,0.576939,0.546881,0.583498,0.038787,13
16,0.003124,0.006248,0.000000,0.000000e+00,1000,auto,rfb,"{'C': 1000, 'gamma': 'auto', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
17,0.057553,0.008220,0.006231,5.841821e-03,1000,auto,poly,"{'C': 1000, 'gamma': 'auto', 'kernel': 'poly'}",0.829631,0.802622,0.799620,0.800321,0.735580,0.793555,0.031072,5
18,0.053314,0.007497,0.012497,6.248617e-03,1000,auto,sigmoid,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.296082,0.372281,0.216401,0.291265,0.351325,0.305471,0.054387,22
19,0.044824,0.004080,0.012497,6.248546e-03,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",0.605304,0.588725,0.623230,0.537931,0.616726,0.594383,0.030560,11
20,0.000000,0.000000,0.000000,0.000000e+00,1000,scale,rfb,"{'C': 1000, 'gamma': 'scale', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
21,0.068734,0.012497,0.000000,0.000000e+00,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",0.828213,0.802622,0.799348,0.800587,0.735555,0.793265,0.030757,6
22,0.053112,0.007653,0.009373,7.652981e-03,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",0.400044,0.366097,0.242217,0.288461,0.351407,0.329645,0.056742,21
23,0.050124,0.008284,0.010832,6.310567e-03,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.605304,0.588725,0.623230,0.537931,0.616726,0.594383,0.030560,11
24,0.003124,0.006248,0.000000,0.000000e+00,2000,auto,rfb,"{'C': 2000, 'gamma': 'auto', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
25,0.099107,0.018388,0.011299,6.107538e-03,2000,auto,poly,"{'C': 2000, 'gamma': 'auto', 'kernel': 'poly'}",0.845403,0.805639,0.816733,0.805143,0.754961,0.805576,0.029233,4
26,0.054001,0.008778,0.012694,6.358667e-03,2000,auto,sigmoid,"{'C': 2000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.401855,-0.508082,-0.452827,-0.751013,-0.111859,-0.445127,0.205197,28
27,0.065609,0.004129,0.007645,6.993985e-03,2000,auto,linear,"{'C': 2000, 'gamma': 'auto', 'kernel': 'linear'}",0.605277,0.583646,0.697368,0.532547,0.681425,0.620053,0.061555,9
28,0.000000,0.000000,0.000000,0.000000e+00,2000,scale,rfb,"{'C': 2000, 'gamma': 'scale', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
29,0.091690,0.011848,0.003124,6.248665e-03,2000,scale,poly,"{'C': 2000, 'gamma': 'scale', 'kernel': 'poly'}",0.845581,0.805624,0.816612,0.805133,0.754962,0.805582,0.029272,3
30,0.064916,0.009388,0.001995,3.511846e-03,2000,scale,sigmoid,"{'C': 2000, 'gamma': 'scale', 'kernel': 'sigmo...",-0.385658,-0.537098,-0.474912,-0.477335,-0.111187,-0.397238,0.150976,27
31,0.069325,0.012769,0.008443,1.035976e-02,2000,scale,linear,"{'C': 2000, 'gamma': 'scale', 'kernel': 'linear'}",0.605277,0.583646,0.697368,0.532547,0.681425,0.620053,0.061555,9
32,0.000000,0.000000,0.000000,0.000000e+00,3000,auto,rfb,"{'C': 3000, 'gamma': 'auto', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
33,0.143894,0.070833,0.008243,6.571570e-03,3000,auto,poly,"{'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}",0.846775,0.805323,0.817309,0.805191,0.758994,0.806718,0.028279,2
34,0.045713,0.012819,0.010238,5.708135e-03,3000,auto,sigmoid,"{'C': 3000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-1.090896,-1.761043,-1.734344,-2.304377,-1.050280,-1.588188,0.469215,29
35,0.068676,0.020279,0.005174,5.823908e-03,3000,auto,linear,"{'C': 3000, 'gamma': 'auto', 'kernel': 'linear'}",0.657470,0.583501,0.697875,0.529117,0.655785,0.624750,0.060379,7
36,0.000000,0.000000,0.000000,0.000000e+00,3000,scale,rfb,"{'C': 3000, 'gamma': 'scale', 'kernel': 'rfb'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
37,0.170718,0.068734,0.007617,6.953723e-03,3000,scale,poly,"{'C': 3000, 'gamma': 'scale', 'kernel': 'poly'}",0.846874,0.805331,0.817283,0.805239,0.758988,0.806743,0.028307,1
38,0.053555,0.005708,0.008551,7.595972e-03,3000,scale,sigmoid,"{'C': 3000, 'gamma': 'scale', 'kernel': 'sigmo...",-1.761871,-2.139307,-1.704369,-2.340839,-1.048739,-1.799025,0.443311,30
39,0.069896,0.010194,0.009373,7.653020e-03,3000,scale,linear,"{'C': 3000, 'gamma': 'scale', 'kernel': 'linear'}",0.657470,0.583501,0.697875,0.529117,0.655785,0.624750,0.060379,7

In [83]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI"))
children_input=float(input("children:"))
sex_male_input=int(input("sex Male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:32
BMI25
children:1
sex Male 0 or 1:2
smoker yes 0 or 1:1

In [84]:
Future_prediction=grid.predict([[age_input,age_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[4903191.33956351]